<p><h1>All Products</h1></p>
<ol>
  <% if @cart%>
 <% @cart.each do |p|  %>
     <li><%= p %></li>

  <% end %>
  <% end %>
</ol>
<%= form_for("produts",url:{ controller: "products", action: "add" }, method: "post") do |f| %>

  <input type="text" name="product">
  <input type="submit" value="add to cart">
<% end %>
